.layer{
    content:'';
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.9;
    position: absolute;
}

/* middle col */
.middleCol{
    text-align: center;
}

.middleCol a{
    color:#abb7c4 !important;
}

.middleCol a:hover{
    color:#ec7532 !important;
    transition: all 1s;
}

.middleCol ul li{
    margin-bottom: 0.5rem;
}


/* Right col */
.rightCol{
    text-align: center;
}
.rightCol a{
    color:#abb7c4 !important;
}

.rightCol a:hover{
    color:#ec7532 !important;
    transition: all 1s;
}


.rightCol ul li{
    margin-bottom: 0.5rem;
}


/* Footer bot */

.footerBot a:first-child{
    color:#abb7c4 !important;
}


@media screen and (max-width:640px) {
    .middleCol__right p, .rightCol p{
        font-size: 1.8rem
    } 

    .rightCol p{
        margin-top: 28px;
    }
}