body
{
  background-color:#f2f2f2;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

*
{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h5
{
  margin:0px;
  font-size:1.4em;
  font-weight:700;
}

p
{
  font-size:12px;
}

.center
{
  /* height:100vh; */
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* End Non-Essential  */

.property-card
{
  height:22rem;
  width: 100%;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  position:relative;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius:16px;
  overflow:hidden;
  /* -webkit-box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff; */
  /* box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff; */
}
/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */

/* Top Half of card, image. */
.property-card .movie-overlay{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  z-index: 3;
  transform: translateY(-100%);
  transition: all .5s;
}

.property-card:hover .movie-overlay{
  opacity: 0.3;
  transform: translateY(0%);
}

.property-card .movie-trailer{
  position: absolute;
  left: 40%;
  top: 40%;
  z-index: 3;
  opacity: 0;
}

.property-card:hover .movie-trailer{
  opacity: 1;
}

.property-image
{
  height:6em;
  width: 100%;
  position:Absolute;
  top:0px;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-size:cover;
  background-repeat:no-repeat;
}

/* Bottom Card Section */

.property-description
{
  background-color: #FAFAFC;
  height:12em;
  width: 100%;
  position:absolute;
  bottom:0em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  text-align:center;
}

/* Social Icons */

.property-social-icons
{
  width:1em;
  height:1em;
  background-color:black;
  position:absolute;
  bottom:1em;
  left:1em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* Property Cards Hover States */

.property-card:hover .property-description
{
  height:0em;
  padding:0px 1em;
}
.property-card:hover .property-image
{
  height:18em;
}

.property-card:hover .property-social-icons
{
  background-color:white;
}

.property-card:hover .property-social-icons:hover
{
  background-color:blue;
  cursor:pointer;
}

/* Modal */
.ant-modal-content{
  height: 400px;
}

.ant-modal-body{
  height: 80%;
}



.movie-groupId{
  @apply absolute text-sm font-bold left-8 text-white w-11 h-8 leading-7 bg-red-500 rounded-md text-center
}

.movieRate{
  @apply text-red-300 absolute font-bold text-lg  left-56 w-10 h-8 leading-7 bg-black bg-opacity-60 rounded-md text-center
}

.movieName{
  @apply sm:text-2xl text-xl font-medium text-white text-center mt-5
}

@media screen and (max-width:1380px){
  .movieRate{
     left:12rem 
  }
}


@media screen and (max-width:992px){
  .movieRate{
     left:28rem 
  }
}

@media screen and (min-width:769px) and (max-width:992px){
  .movieRate{
     left:23rem 
  }
}



@media screen and (max-width:768px){
    .movieRate{
       left:17rem 
    }
}


@media screen and (max-width:675px){
  .movieRate{
     left:15rem
  }
}


@media screen and (max-width:600px){
  .movieRate{
     left:13rem
  }
}

@media screen and (max-width:555px){
  .movieRate{
     left:9rem !important
  }
}